In [75]:
import pandas as pd

melb_data = pd.read_csv('data/students_performance.csv', sep=',')

In [61]:
melb_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

9.1 Данные о скольких студентах содержатся в таблице?

In [6]:
melb_data.shape[0]

1000

9.2 Каков балл по письму у студента под индексом 155?

In [9]:
melb_data.loc[155]['writing score']

88

9.3 Сколько суммарно пропущенных значений в таблице?
9.4 Сколько столбцов в таблице имеет тип данных object?
9.5 Какой объём памяти (в килобайтах) занимает таблица?

In [10]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

9.6 Каков у студентов средний балл по математике?

In [26]:
melb_data.iloc[:,5].mean()

66.089

9.7 Какая расовая группа является самой крупной в учебном заведении?

In [30]:
melb_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

9.8 Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [33]:
melb_data[melb_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

9.9 Сколько студентов получили 0 баллов по математике?

In [39]:
melb_data[melb_data['math score'] == 0].shape[0]

1

9.10 Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [60]:
pay = melb_data[melb_data['lunch'] == 'standard']['math score']
free = melb_data[melb_data['lunch'] == 'free/reduced']['math score'].mean()
display(f'Средняя оценка по математики у учеников с платным питанием: {pay.mean()}, с бесплатным: {free}'
f' '
f'Максиальный балл: {pay.max()}')

'Средняя оценка по математики у учеников с платным питанием: 70.03410852713178, с бесплатным: 58.92112676056338 Максиальный балл: 100'

9.11 Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)? (parental level of education)

In [65]:
melb_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

9.12 Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
Округлите ответ до целого и запишите модуль этого числа.

In [76]:
median_a = melb_data[melb_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_c = melb_data[melb_data['race/ethnicity'] == 'group C']['writing score'].mean()
round(abs(median_a - mean_c)) # модуль чисоа

6