### Настройки

Начинаем с импорта библиотек

In [7]:
import pandas as pd
import psycopg2

In [8]:
# хороший тон при фиксации изменений в github не публиковать код с открытыми данными для входа
# для запуска кода поместите данные, которые указаны на странице курса в эту ячейку
# при размещении в github удалите эту ячейку
DBNAME = 'project_sql'
USER = ' '
PASSWORD = ' '
HOST = ' '
PORT = 666

Создаем соединение с заданными параметрами

In [9]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

Запрос

In [10]:
# код запроса представляет из себя строковую переменную
n = 10
query = f'''select * 
            from sql.pokemon 
            limit {n}
         '''
# лучше использовать f-строки - так удобнее передавать параметры

### Выполнение запроса

In [11]:
# используем метод read_sql_query, чтобы получить результаты запроса сразу в виде датафрейма
df = pd.read_sql_query(query, connection)
df

C:\Users\qwaiv\AppData\Local\Temp\ipykernel_13232\2473184231.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

DatabaseError: Execution failed on sql 'select *
            from sql.pokemon
            limit 10
         ': relation "sql.pokemon" does not exist
LINE 2:             from sql.pokemon
                         ^

### Финал

In [ ]:
# не забываем закрыть соединение после окончания работы
connection.close()