In [1]:
import pandas as pd
ufo = pd.read_csv('data/ufo.csv', sep=',')

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

3.4 В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [6]:
ufo['Time'] = pd.to_datetime(ufo['Time'])
display(ufo['Time'].dt.year.mode())

0    1999
Name: Time, dtype: int64

3.5 Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).
Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.

Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод diff().

Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days.

In [19]:
#import numpy as np
ufo_NV_date = ufo[ufo['State'] == 'NV']['Time'].dt.date
#np.diff(ufo_NV_date, n=1, axis=0).mean()
ufo_NV_date.diff().dt.days.mean()

68.92932862190813