In [16]:
import pandas as pd
citibike = pd.read_csv('data/citibike-tripdata.csv', sep=',')

Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

* starttime — время начала поездки (дата, время);
* stoptime — время окончания поездки (дата, время);
* start station id — идентификатор стартовой стоянки;
* start station name — название стартовой стоянки;
* start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
* end station id — идентификатор конечной стоянки;
* end station name — название конечной стоянки;
* end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
* bikeid — идентификатор велосипеда;
* usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
* birth year — год рождения клиента;
* gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

6.1 Сколько пропусков в столбце start station id?

In [17]:
citibike['start station id'].shape[0] - citibike['start station id'].count()

169

6.2 Какой тип данных имеют столбцы starttime и stoptime?

In [18]:
display(citibike['starttime'].info())
print(' ')
display(citibike['stoptime'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

None

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

None

6.3 Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [19]:
round(citibike['start station id'].mode()[0])

281

6.4 Велосипед с каким идентификатором является самым популярным?

In [20]:
round(citibike['bikeid'].mode()[0])

33887

6.5 Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [21]:
citi_all = citibike['usertype'].shape[0]
citi_sub = citibike[citibike['usertype'] == 'Subscriber']['usertype'].shape[0]
citi_cust = citibike[citibike['usertype'] == 'Customer']['usertype'].shape[0]
round(citi_sub / citi_all, 2)

0.77

In [22]:
mode_usertype = citibike['usertype'].mode()[0]
count_mode_user = citibike[citibike['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / citibike.shape[0], 2))

0.77

6.6 Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [23]:
#1 - m 2 -w
mode_gender = citibike['gender'].mode()[0]
citibike[citibike['gender'] == mode_gender].shape[0]

183582

6.7
1. Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
2. В рассматриваемые дни минимальный возраст клиента составлял 10 лет
3. Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
4. Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

In [24]:
display(citibike['start station name'].shape[0] == citibike['end station name'].shape[0])
display(2018 - citibike['birth year'].max() == 10)
display(citibike['start station name'].value_counts().index[-1] == 'Eastern Pkwy & Washington Ave')
display(citibike['start station name'].mode()[0] == 'Liberty Light Rail')

True

False

True

False

6.8 В первую очередь удалим лишнюю информацию из данных.

В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [25]:
citibike = citibike.drop(['start station id', 'end station id'], axis=1)
citibike.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [30]:
citibike.shape[1]

12

6.9 Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [37]:
citibike['age'] = 2018 - citibike['birth year']
citibike = citibike.drop('birth year', axis=1)

KeyError: 'birth year'

In [42]:
citibike[citibike['age'] > 60].shape[0]

11837

6.10 Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [63]:
citibike['starttime'] = pd.to_datetime(citibike['starttime'])
citibike['stoptime'] = pd.to_datetime(citibike['stoptime'])
citibike['trip duration'] = citibike['stoptime'] - citibike['starttime']
round(citibike['trip duration'][3].total_seconds()/60) # = citibike.loc[3, 'trip duration']

7

6.11 Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [66]:
weekday = citibike['starttime'].dt.dayofweek
citibike['weekend'] = weekday.apply(lambda x: 1 if x == 5 or x == 6 else 0)
citibike['weekend'].sum()

115135

6.12 Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [68]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
citibike['time_of_day'] = citibike['starttime'].dt.hour.apply(get_time_of_day)
day = citibike[citibike['time_of_day'] == 'day'].shape[0]
night = citibike[citibike['time_of_day'] == 'night'].shape[0]
round(day/night)

9